<td>
<%= link_to identity_path(identity["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Show' do %>
    <i class="bi bi-arrows-fullscreen" style="padding: 0 10px !important;"></i>
<% end %>
</td>
<td>
<%= link_to edit_identity_path(identity["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Edit' do %>
    <i class="bi bi-pencil" style="padding: 0 10px !important;"></i>
<% end %>
</td>
<td>
<%= link_to identity_path(identity["ID"]), method: :delete, data: { toggle: 'tooltip', placement: "top", confirm: "Are you sure?" }, title: 'Delete' do %>
    <i class="bi bi-trash" style="padding: 0 10px !important;"></i>
<% end %>
</td>



<div class="col-md-2">
      <label for="inputTaxNumber" class="form-label">Tax Number</label>
      <%= text_field(:identity, :TaxNumber, value: @identity["TaxNumber"], placeholder: "Tax Number", class: "form-control", id: "inputTaxNumber") %>
    </div>
    <div class="col-md-5">
      <label for="inputRegisteredName" class="form-label">Registered Name</label>
      <%= text_field(:identity, :RegisteredName, value: @identity["RegisteredName"], placeholder: "Registered Name", class: "form-control", id: "inputRegisteredName") %>
    </div>
    <div class="col-md-5">
      <label for="inputTradingAs" class="form-label">Trading As</label>
      <%= text_field(:identity, :TradingAs, value: @identity["TradingAs"], placeholder: "Trading As", class: "form-control", id: "inputTradingAs") %>
    </div>
    <div class="col-md-3">
      <label for="inputTelephoneNumber" class="form-label">Telephone Number</label>
      <%= text_field(:identity, :TelephoneNumber, value: @identity["TelephoneNumber"], placeholder: "Telephone Number", class: "form-control", id: "inputTelephoneNumber") %>
    </div>
    <div class="col-md-2">
      <label for="inputPhysicalID" class="form-label">Physical ID</label>
      <%= number_field(:identity, :PhysicalID, value: @identity["PhysicalID"], placeholder: "Physical ID", class: "form-control", id: "inputPhysicalID") %>
    </div>
    <div class="col-md-2">
      <label for="inputPostalID" class="form-label">Postal ID</label>
      <%= text_field(:identity, :PostalID, value: @identity["PostalID"], placeholder: "Postal ID", class: "form-control", id: "inputPostalID") %>
    </div>
    <div class="col-md-4">
      <label for="inputTaxPrefix" class="form-label">Tax Prefix</label>
      <%= text_field(:identity, :TaxPrefix, value: @identity["TaxPrefix"], placeholder: "Tax Prefix", class: "form-control", id: "inputTaxPrefix") %>
    </div>
    <div class="col-md-4">
      <label for="inputTaxIndicator" class="form-label">Tax Indicator</label>
      <%= text_field(:identity, :TaxIndicator, value: @identity["TaxIndicator"], placeholder: "Tax Indicator", class: "form-control", id: "inputTaxIndicator") %>
    </div>
    <div class="col-md-4">
      <label for="inputTaxPercentage" class="form-label">Tax Percentage</label>
      <%= text_field(:identity, :TaxPercentage, value: @identity["TaxPercentage"], placeholder: "Tax Percentage", class: "form-control", id: "inputTaxPercentage") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToName" class="form-label">Remit To Name</label>
      <%= text_field(:identity, :RemitToName, value: @identity["RemitToName"], placeholder: "Remit To Name", class: "form-control", id: "inputRemitToName") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToStreet" class="form-label">Remit To Street</label>
      <%= text_field(:identity, :RemitToStreet, value: @identity["RemitToStreet"], placeholder: "Remit To Street", class: "form-control", id: "inputRemitToStreet") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToCity" class="form-label">Remit To City</label>
      <%= text_field(:identity, :RemitToCity, value: @identity["RemitToCity"], placeholder: "Remit To City", class: "form-control", id: "inputRemitToCity") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToPostalCode" class="form-label">Remit To Postal Code</label>
      <%= text_field(:identity, :RemitToPostalCode, value: @identity["RemitToPostalCode"], placeholder: "Remit To Postal Code", class: "form-control", id: "inputRemitToPostalCode") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToCountryISOCode" class="form-label">Remit To Country ISO Code</label>
      <%= text_field(:identity, :RemitToCountryISOCode, value: @identity["RemitToCountryISOCode"], placeholder: "Remit To Country ISO Code", class: "form-control", id: "inputRemitToCountryISOCode") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToCountry" class="form-label">Remit To Country</label>
      <%= text_field(:identity, :RemitToCountry, value: @identity["RemitToCountry"], placeholder: "Remit To Country", class: "form-control", id: "inputRemitToCountry") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToAreaOrCityCode" class="form-label">Remit To Area Or City Code</label>
      <%= text_field(:identity, :RemitToAreaOrCityCode, value: @identity["RemitToAreaOrCityCode"], placeholder: "Remit To Area Or City Code", class: "form-control", id: "inputRemitToAreaOrCityCode") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToPhoneNumber" class="form-label">Remit To Phone Number</label>
      <%= text_field(:identity, :RemitToPhoneNumber, value: @identity["RemitToPhoneNumber"], placeholder: "Remit To Phone Number", class: "form-control", id: "inputRemitToPhoneNumber") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToFaxNumber" class="form-label">Remit To Fax Number</label>
      <%= text_field(:identity, :RemitToFaxNumber, value: @identity["RemitToFaxNumber"], placeholder: "Remit To Fax Number", class: "form-control", id: "inputRemitToFaxNumber") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToTaxPrefix" class="form-label">Remit To Tax Prefix</label>
      <%= text_field(:identity, :RemitToTaxPrefix, value: @identity["RemitToTaxPrefix"], placeholder: "Remit To Tax Prefix", class: "form-control", id: "inputRemitToTaxPrefix") %>
    </div>
    <div class="col-md-4">
      <label for="inputRemitToTaxNumber" class="form-label">Remit To Tax Number</label>
      <%= text_field(:identity, :RemitToTaxNumber, value: @identity["RemitToTaxNumber"], placeholder: "Remit To Tax Number", class: "form-control", id: "inputRemitToTaxNumber") %>
    </div>
    <div class="col-md-4">
      <label for="inputURL" class="form-label">URL</label>
      <%= text_field(:identity, :URL, value: @identity["URL"], placeholder: "URL", class: "form-control", id: "inputURL") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromName" class="form-label">From Name</label>
      <%= text_field(:identity, :FromName, value: @identity["FromName"], placeholder: "From Name", class: "form-control", id: "inputFromName") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromStreet" class="form-label">From Street</label>
      <%= text_field(:identity, :FromStreet, value: @identity["FromStreet"], placeholder: "From Street", class: "form-control", id: "inputFromStreet") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromCity" class="form-label">From City</label>
      <%= text_field(:identity, :FromCity, value: @identity["FromCity"], placeholder: "From City", class: "form-control", id: "inputFromCity") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromPostalCode" class="form-label">From Postal Code</label>
      <%= text_field(:identity, :FromPostalCode, value: @identity["FromPostalCode"], placeholder: "From Postal Code", class: "form-control", id: "inputFromPostalCode") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromCountryISOCode" class="form-label">From Country ISO Code</label>
      <%= text_field(:identity, :FromCountryISOCode, value: @identity["FromCountryISOCode"], placeholder: "From Country ISO Code", class: "form-control", id: "inputFromCountryISOCode") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromCountry" class="form-label">From Country</label>
      <%= text_field(:identity, :FromCountry, value: @identity["FromCountry"], placeholder: "From Country", class: "form-control", id: "inputFromCountry") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromTaxPrefix" class="form-label">From Tax Prefix</label>
      <%= text_field(:identity, :FromTaxPrefix, value: @identity["FromTaxPrefix"], placeholder: "From Tax Prefix", class: "form-control", id: "inputFromTaxPrefix") %>
    </div>
    <div class="col-md-4">
      <label for="inputFromTaxNumber" class="form-label">From Tax Number</label>
      <%= text_field(:identity, :FromTaxNumber, value: @identity["FromTaxNumber"], placeholder: "From Tax Number", class: "form-control", id: "inputFromTaxNumber") %>
    </div>
















.///
    <div id="identity-page" class="container-fluid mt-3">
    <% content_for :title, "Coupa Integration - Invoice Items" %>

    <h1>TABLE OF INVOICES ITEMS</h1>



    <div id="invoice-items-table" class="table-responsive-md table-responsive">    
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <th>ID</th>
                <th>invoiceID</th>
                <th>itemUnitOfMeasure</th>
                <th>quantity</th>
                <th>unitPrice</th>
                <th colspan="2"></th>
            </thead>

            <% if @invoice_items.present? %>
                <tbody id="table-body">
                    <% @invoice_items.each do |invoice_item| %>
                        <tr>
                            <td><%= invoice_item["id"] %></th>
                            <td><%= invoice_item["invoiceID"] %></td>
                            <td><%= invoice_item["itemUnitOfMeasure"] %></td>
                            <td><%= invoice_item["quantity"] %></td>
                            <td><%= invoice_item["unitPrice"] %></td>
                            <td>
                                <%= link_to invoice_invoice_item_path(invoice_item["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Show' do %>
                                    <i class="bi bi-arrows-fullscreen" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to edit_invoice_invoice_item_path(invoice_item["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Edit' do %>
                                    <i class="bi bi-pencil" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>                
            <% else %>
                <tbody>
                    <div style="position: absolute; margin-top: 7rem; width: 88%; display: flex; justify-content: center; align-items: center; height: 5rem; color: #ccc; background-color: white;">
                    No Invoice Items
                    </div>
                </tbody>           
            <% end %>
        </table>
    </div>
    <%= link_to 'BACK', invoices_path, class: "btn btn-outline-dark mb-4" %>
</div>