<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid">

  <% content_for :title, "Coupa Integration - Invoice" %>

  <nav class="py-4" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><%= link_to 'Invoice', invoices_path %></a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <%= form_tag(invoices_path, method: :put, class: "row g-3 mb-3") do %>
    <div class="col-md-4">
      <label for="inputSupplierIdentity" class="form-label">Supplier Identity</label>
      <%= text_field(:invoice, :SupplierIdentity, value: @identity["SupplierIdentity"], placeholder: "Supplier Identity", class: "form-control", id: "inputSupplierIdentity", readonly: true) %>
    </div>
    <div class="col-md-4">
      <label for="inputSharedSecret" class="form-label">Shared Secret</label>
      <%= text_field(:identity, :SharedSecret, value: @identity["SharedSecret"], placeholder: "Shared Secret", class: "form-control", id: "inputSharedSecret", readonly: true) %>
    </div>
    <div class="col-md-4">
      <label for="inputSupplierIdentity" class="form-label">Buyer Identity</label>
      <%= text_field(:identity, :BuyerIdentity, value: @identity["BuyerIdentity"], placeholder: "Buyer Identity", class: "form-control", id: "inputBuyerIdentity", readonly: true) %>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-dark">SUBMIT</button>
      <%= link_to 'BACK', identity_index_path, class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>