<%= render 'header' %>
<%= render 'navbar' %>

<div id="identity-page" class="container-fluid mt-3">
    <% content_for :title, "Coupa Integration - Invoices" %>

    <h1>TABLE OF INVOICES</h1>

    <% flash.each do |type, msg| %>
        <% if type == "success" %>
            <div class="alert alert-success"> 
                <%= msg %>
            </div>
        <% else %>
            <div class="alert alert-danger"> 
                <%= msg %>
            </div>
        <% end %>
    <% end %>

    <div id="invoice-table" class="table-responsive-md table-responsive">    
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <th>ID</th>
                <th>Invoice ID</th>
                <th>From Name</th>
                <th>Remit To Name</th>
                <th>Order ID</th>
                <th>Subtotal Amount</th>
                <th>Create Date</th>
                <th colspan="4"></th>
            </thead>

            <% if @invoices.present? %>
                <tbody id="table-body">
                    <% @invoices.each do |invoice| %>
                        <tr>
                            <td><%= invoice["id"] %></th>
                            <td><%= invoice["invoiceID"] %></td>
                            <td><%= invoice["fromName"] %></td>
                            <td><%= invoice["remitToName"] %></td>
                            <td><%= invoice["orderID"] %></td>
                            <td><%= invoice["invoiceSubtotalAmount"] %></td>
                            <td><%= invoice["createDate"] %></td>
                            <td>
                                <%= link_to invoice_path(invoice["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Show' do %>
                                    <i class="bi bi-arrows-fullscreen" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to invoice_invoice_items_path(invoice["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Invoice Items' do %>
                                    <i class="bi bi-list-ul" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to invoice_download_path(invoice["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Invoice', target: "_blank" do %>
                                    <%= image_tag("download invoice_1.png", size: "28x35") %>
                                <% end %>
                            </td>

                            <td>
                                <%= link_to invoice_send_path(invoice["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Send Invoice To Coupa' do %>
                                    <%= image_tag("send invoice.png", size: "35x35") %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>                
            <% else %>
                <tbody>
                    <div style="position: absolute; margin-top: 7rem; width: 88%; display: flex; justify-content: center; align-items: center; height: 5rem; color: #ccc; background-color: white;">
                    No Invoices
                    </div>
                </tbody>           
            <% end %>
        </table>
    </div>
</div>