<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid" >

    <% content_for :title, "Coupa Integration - Invoice" %>

    <nav class="py-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><%= link_to 'Invoices', invoices_path %></a></li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </ol>
    </nav>

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>ID</h5>

                <% if @invoice["id"].present? %>
                        <p><%= @invoice["id"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Domain</h5>

                <% if @invoice["fromDomain"].present? %>
                        <p><%= @invoice["fromDomain"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Identity</h5>

                <% if @invoice["fromIdentity"].present? %>
                        <p><%= @invoice["fromIdentity"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>

            <div class="content col-md-3">
                <h5>To Domain</h5>

                <% if @invoice["toDomain"].present? %>
                        <p><%= @invoice["toDomain"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>

            <div class="content col-md-3">
                <h5>To Identity</h5>

                <% if @invoice["toIdentity"].present? %>
                        <p><%= @invoice["toIdentity"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>

            <div class="content col-md-3">
                <h5>Sender Domain</h5>

                <% if @invoice["senderDomain"].present? %>
                        <p><%= @invoice["senderDomain"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Sender Identity</h5>

                <% if @invoice["senderIdentity"].present? %>
                        <p><%= @invoice["senderIdentity"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Shared Secret</h5>

                <% if @invoice["sharedSecret"].present? %>
                        <p><%= @invoice["sharedSecret"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
        </div>
    </div>


    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">FROM DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>From Name</h5>

                <% if @invoice["fromName"].present? %>
                        <p><%= @invoice["fromName"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Street</h5>

                <% if @invoice["fromStreet"].present? %>
                        <p><%= @invoice["fromStreet"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From City</h5>

                <% if @invoice["fromCity"].present? %>
                        <p><%= @invoice["fromCity"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Postal Code</h5>

                <% if @invoice["fromPostalCode"].present? %>
                        <p><%= @invoice["fromPostalCode"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Country ISO Code</h5>

                <% if @invoice["fromCountryISOCode"].present? %>
                        <p><%= @invoice["fromCountryISOCode"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Country</h5>

                <% if @invoice["fromCountry"].present? %>
                        <p><%= @invoice["fromCountry"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Tax Prefix</h5>

                <% if @invoice["fromTaxPrefix"].present? %>
                        <p><%= @invoice["fromTaxPrefix"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Tax Number</h5>

                <% if @invoice["fromTaxNumber"].present? %>
                        <p><%= @invoice["fromTaxNumber"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
        </div>
    </div>

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">REMIT TO DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>Remit To Name</h5>

                <% if @invoice["remitToName"].present? %>
                        <p><%= @invoice["remitToName"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Street</h5>

                <% if @invoice["remitToStreet"].present? %>
                        <p><%= @invoice["remitToStreet"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To City</h5>

                <% if @invoice["remitToCity"].present? %>
                        <p><%= @invoice["remitToCity"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Postal Code</h5>

                <% if @invoice["remitToPostalCode"].present? %>
                        <p><%= @invoice["remitToPostalCode"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To ISO Country Code</h5>

                <% if @invoice["remitToIsoCountryCode"].present? %>
                        <p><%= @invoice["remitToIsoCountryCode"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Country</h5>

                <% if @invoice["remitToCountry"].present? %>
                        <p><%= @invoice["remitToCountry"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Area Or City Code</h5>

                <% if @invoice["remitToAreaOrCityCode"].present? %>
                        <p><%= @invoice["remitToAreaOrCityCode"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Telephone Number</h5>

                <% if @invoice["remitToTelephoneNumber"].present? %>
                        <p><%= @invoice["remitToTelephoneNumber"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Fax Number</h5>

                <% if @invoice["remitToFaxNumber"].present? %>
                        <p><%= @invoice["remitToFaxNumber"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Tax Prefix</h5>

                <% if @invoice["remitToTaxPrefix"].present? %>
                        <p><%= @invoice["remitToTaxPrefix"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Tax Number</h5>

                <% if @invoice["remitToTaxNumber"].present? %>
                        <p><%= @invoice["remitToTaxNumber"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
        </div>
    </div>

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">INVOICE DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>Invoice Currency</h5>

                <% if @invoice["invoiceCurrency"].present? %>
                        <p><%= @invoice["invoiceCurrency"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Subtotal Amount</h5>

                <% if @invoice["invoiceSubtotalAmount"].present? %>
                        <p><%= @invoice["invoiceSubtotalAmount"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Tax Amount</h5>

                <% if @invoice["invoiceTaxAmount"].present? %>
                        <p><%= @invoice["invoiceTaxAmount"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Ivoice Tax Description</h5>

                <% if @invoice["invoiceTaxDescription"].present? %>
                        <p><%= @invoice["invoiceTaxDescription"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Tax Percentage Rate</h5>

                <% if @invoice["invoiceTaxPercentageRate"].present? %>
                        <p><%= @invoice["invoiceTaxPercentageRate"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Taxable Amount</h5>

                <% if @invoice["invoiceTaxableAmount"].present? %>
                        <p><%= @invoice["invoiceTaxableAmount"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Tax Location</h5>

                <% if @invoice["invoiceTaxLocation"].present? %>
                        <p><%= @invoice["invoiceTaxLocation"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
        </div>
    </div>


    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">ORDER DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>Purchase Order ID</h5>

                <% if @invoice["purchaseOrderID"].present? %>
                        <p><%= @invoice["purchaseOrderID"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Order ID</h5>

                <% if @invoice["orderID"].present? %>
                        <p><%= @invoice["orderID"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Create Date</h5>

                <% if @invoice["createDate"].present? %>
                        <p><%= @invoice["createDate"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Update Date</h5>


                <% if @invoice["updateDate"].present? %>
                        <p><%= @invoice["updateDate"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Blob ID</h5>

                <% if @invoice["BlobID"].present? %>
                        <p><%= @invoice["BlobID"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
        </div>
    </div>

    <%= link_to 'BACK', invoices_path, class: "btn btn-outline-dark mb-4" %>
</div>