<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid" >

    <% content_for :title, "Coupa Integration - Invoice" %>

    <nav class="py-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><%= link_to 'Invoices', invoices_path %></a></li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </ol>
    </nav>

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">DETAILS</h1>
        </div>

        <div class="show-summary100-content">
            <div class="content">
                <h5>ID</h5>
                <p><%= params[:id] %></p>
            </div>
            <div class="content">
                <h5>Supplier Identity</h5>
                <p><%= @invoice["fromDomain"] %></p>
            </div>
            <div class="content">
                <h5>Shared Secret</h5>
                <p><%= @invoice["fromIdentity"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["toDomain"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["toIdentity"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["senderDomain"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["senderIdentity"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["sharedSecret"] %></p>
            </div>
        </div>
    </div>



    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">FROM DETAILS</h1>
        </div>

        <div class="show-summary100-content">
            <div class="content">
                <h5>Supplier Identity</h5>
                <p><%= @invoice["fromName"] %></p>
            </div>
            <div class="content">
                <h5>Shared Secret</h5>
                <p><%= @invoice["fromStreet"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["fromCity"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["fromPostalCode"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["fromCountryISOCode"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["fromCountry"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["fromTaxPrefix"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["fromTaxNumber"] %></p>
            </div>
        </div>
    </div>



    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">REMIT TO DETAILS</h1>
        </div>

        <div class="show-summary100-content">
            <div class="content">
                <h5>Supplier Identity</h5>
                <p><%= @invoice["remitToName"] %></p>
            </div>
            <div class="content">
                <h5>Shared Secret</h5>
                <p><%= @invoice["remitToStreet"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToCity"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToPostalCode"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToIsoCountryCode"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToCountry"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToAreaOrCityCode"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToTelephoneNumber"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToFaxNumber"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToTaxPrefix"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["remitToTaxNumber"] %></p>
            </div>
        </div>
    </div>


       

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">INVOICE DETAILS</h1>
        </div>

        <div class="show-summary100-content">
            <div class="content">
                <h5>Supplier Identity</h5>
                <p><%= @invoice["invoiceCurrency"] %></p>
            </div>
            <div class="content">
                <h5>Shared Secret</h5>
                <p><%= @invoice["invoiceSubtotalAmount"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["invoiceTaxAmount"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["invoiceTaxDescription"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["invoiceTaxPercentageRate"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["invoiceTaxableAmount"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["invoiceTaxLocations"] %></p>
            </div>
            
        </div>
    </div>

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">EXTRA DETAILS</h1>
        </div>

        <div class="show-summary100-content">
            <div class="content">
                <h5>Supplier Identity</h5>
                <p><%= @invoice["purchaseOrderID"] %></p>
            </div>
            <div class="content">
                <h5>Shared Secret</h5>
                <p><%= @invoice["orderID"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["createDate"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["updateDate"] %></p>
            </div>
            <div class="content">
                <h5>Buyer Identity</h5>
                <p><%= @invoice["BlobID"] %></p>
            </div>
        </div>
    </div>

    <%= link_to 'BACK', identity_index_path, class: "btn btn-outline-dark mb-4" %>
</div>