<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <%= form_tag(login_path, class: "login100-form validate-form flex-sb flex-w") do %>

        <span class="login100-form-title p-b-51">Login</span>
        <p class="login100-form-secondary-title p-b-51">Admin Interface</p>

        <% flash.each do |type, msg| %>
          <div class="alert alert-danger"> 
            <%= msg %>
          </div>
        <% end %>
      
        <div id="inputField" class="form-floating mb-3 inputField validate-input m-b-16" data-validate="Username is required">
          <%= text_field_tag 'email', '', class: "form-control", id: "floatingInput", placeholder: 'Enter your email' %>
          <%= label_tag(:floatingInput, "Enter your email") %>
        </div>

        <div id="inputField" class="form-floating mb-3 validate-input m-b-16" data-validate="Password is required">
          <%= password_field_tag('password', '' , placeholder: 'Enter your password', id: "floatingPassword", class: "form-control") %>
          <%= label_tag(:floatingPassword, "Enter your password") %>
          <span><i id="password_toggle" class="bi bi-eye-fill"></i></span>
        </div>

        <div class="d-flex py-3 flex-sb-m justify-content-between w-full p-t-3 p-b-24">
          
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">Remember me</label>
          </div>

          <div>
            <%= link_to 'Forgot your password?', class: "text-decoration-none", style: "color: #262626" %>
          </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <%= button_tag("Login", class: "submit-btn btn login100-form-btn btn-dark btn-lg border-0 rounded-0", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing in...".html_safe}) %>
        </div>

        <div class="d-flex py-3 flex-sb-m w-full p-t-3 p-b-24">
          <p>Don't have an account? <span><%= link_to 'Register', style: "color: #262626" %></span></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'toggle' %>