<%= form_with( url: order_index_path, method: :post, remote: true) do |form| %>
    <div class="menu">
        <div>
            <h4>Filtering</h4>
        </div>

        <div>
            <div class="input-field">
                <label for="BuyerIdentity">Buyer Identity:</label>
                <select name="BuyerIdentity" id="BuyerIdentity" class="form-select" aria-label="Default select example">
                    <option value="test1" selected>test1</option>
                </select>
            </div>

            <div class="input-field">
                <label for="SupplierIdentity">Supplier ID:</label>        
                <select name="SupplierIdentity" id="SupplierIdentity" class="form-select" aria-label="Default select example">
                    <option value="test1" selected>test1</option>
                </select>
            </div>

            <div class="input-field">
                <label for="inputOrderID" class="form-label">Order ID</label>
                <%= form.number_field(:OrderID, placeholder: "Order ID", class: "form-control", id: "inputOrderID") %>
            </div>

            <div class="input-field">
                <label for="inputFromDate" class="form-label">From-Date</label>
                <%= form.date_field(:fromDate, min: "2022-01-01", max: Date.today) %>

                <label for="inputToDate" class="form-label">To-Date</label>
                <%= form.date_field(:toDate, min: "2022-01-01", max: Date.today) %>
            </div>
        </div>

        <div class="btns">
            <div class="cancel-btn">
                <a href="#" style="color: red !important;">Clear Filtering</a>
            </div>

            <div class="accept-btn">
                <!-- 
                <button type="button" class="btn btn-outline-dark">Cancel</button>
                <button type="button" class="btn btn-dark">Accept</button> 
                <input type="submit" class="btn btn-dark" value="Accept"> -->

                <%= button_tag("Accept", :class => "btn btn-dark", :id => "loader-btn") %> 
                <%= form.submit "Accept", :class => "btn btn-dark", :id => "loader-btn" %> 
            </div>
        </div>
    </div>
<% end %>