<% content_for :title, "Coupa Integration - Purchase Orders" %>

<%= render 'header' %>
<%= render 'navbar' %>

<div id="order-page" class="container-fluid mt-3">

    <h1 class="mb-3">TABLE OF PURCHASE ORDERS</h1>

    <% flash.each do |type, msg| %>
        <% if type == "success" %>
            <div class="alert alert-success"> 
                <%= msg %>
            </div>
        <% else %>
            <div class="alert alert-danger"> 
                <%= msg %>
            </div>
        <% end %>
    <% end %>

    <div class="action mb-3">
        <div class="profile">
            <button class="btn btn-dark" id="profile-btn">Filter <i class="bi bi-filter" style="color: white !important"></i></button>
        </div>

        <%= form_tag(order_path, method: :post) do %>
            <div class="menu">
                <div>
                    <h4>Filtering</h4>
                </div>

                <div>
                    <div class="input-field">
                        <label for="BuyerIdentity">Buyer Identity:</label>
                        <select name="BuyerIdentity" id="BuyerIdentity" class="form-select" aria-label="Default select example">
                            <option value="" selected>Select B ID</option>
                            <%= @buyers_list.each do |buyer| %>
                                <option value="<%= buyer["Identity"] %>"><%= buyer["Identity"] %></option>
                            <% end %>
                        </select>
                    </div>

                    <div class="input-field">
                        <label for="SupplierIdentity">Supplier ID:</label>        
                        <select name="SupplierIdentity" id="SupplierIdentity" class="form-select" aria-label="Default select example">
                            <option value="" selected>Select Sup ID</option>

                            <%= @supplier_list.each do |supplier| %>
                                <option value="<%= supplier["Identity"] %>"><%= supplier["Identity"] %></option>
                            <% end %>
                        </select>
                    </div>

                    <div class="input-field">
                        <label for="inputOrderID" class="form-label">Order ID</label>
                        <%= text_field_tag(:OrderID, '', placeholder: "Order ID", class: "form-control", id: "inputOrderID") %>
                    </div>

                    <div class="input-field">
                        <label for="inputFromDate" class="form-label">From-Date</label>
                        <%= date_field_tag(:fromDate) %>

                        <label for="inputToDate" class="form-label">To-Date</label>
                        <%= date_field_tag(:toDate) %>
                    </div>
                </div>

                <div class="btns">
                    <div class="clear-btn">
                        <%= link_to 'Clear All Filterings', order_index_path, :style => "color: red !important" %>
                    </div>

                    <div class="accept-btn">
                        <!-- 
                        <button type="button" class="btn btn-outline-dark">Cancel</button>
                        <button type="button" class="btn btn-dark">Accept</button> 
                        <input type="submit" class="btn btn-dark" value="Accept"> -->

                        <p class="btn btn-outline-dark" id="cancel-btn">Cancel</p>
                        <%= button_tag("Accept", :class => "btn btn-dark", :id => "loader-btn") %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>


    <div id="order-table" class="table-responsive-md">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <th>ID</th>
                <th>From Identity</th>
                <th>To Identity</th>
                <th>Order ID</th>
                <th>Order Date</th>
                <th></th>
                <th></th>
            </thead>

            <% if @orders.present? %>
                <tbody id="table-body">
                    <% @orders.each do |order| %>
                        <tr>
                            <td><%= order["ID"] %></td>
                            <td><%= order["FromIdentity"] %></td>
                            <td><%= order["ToIdentity"] %></td>
                            <td><%= order["OrderID"] %></td>
                            <td><%= order["OrderDate"] %></td>
                            <td>
                                <%= link_to download_po_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Purchase Order', target: '_blank' do %>
                                    <!-- <i class="bi bi-file-earmark-arrow-down"></i> -->
                                    <i class="bi bi-download"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to order_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Create Invoice' do %>
                                    <i class="bi bi-cloud-plus"></i>
                                <% end %>
                            </td>

                            <!--
                            <td>
                                <%= link_to download_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, remote: true, title: 'Download Invoice' do %>
                                    <i class="bi bi-cloud-arrow-down"></i>
                                    <!-- STILL GOTTA LOOK INTO IT 
                                <% end %>
                            </td>
                            <td>
                                <%= link_to send_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Send Invoice to Coupa' do %>
                                    <i class="bi bi-cloud-arrow-up"></i>
                                <% end %> -->
                            </td>
                        </tr>
                    <% end %>
                </tbody>                
            <% else %>
                <tbody>
                    <div style="position: absolute; margin-top: 7rem; width: 88%; display: flex; justify-content: center; align-items: center; height: 5rem; color: #ccc; background-color: white;">
                        No Purchase Orders
                    </div>
                </tbody>           
            <% end %>
        </table>        
    </div>
</div>


<%= javascript_pack_tag 'ajax_submit' %>
<%= javascript_pack_tag 'dropdown' %>
<%= javascript_pack_tag 'tooltip' %>