<% content_for :title, "Coupa Integration - Purchase Orders" %>

<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid mt-3">

    <nav class="py-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><%= link_to 'Orders', order_index_path %></a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Invoice</li>
        </ol>
    </nav>

    <%= form_tag(create_invoice_path, method: :post, class: "row g-3 mb-3") do %>
        <div class="col-md-4">
            <label for="inputPoID" class="form-label">Purchase Order ID</label>
            <%= text_field(:order, :PoID, value: params[:id] , placeholder: "Purchase Order ID", class: "form-control", id: "inputPoID", disabled: true) %>
        </div>

        <div class="col-md-4">
            <label for="inputInvoiceID" class="form-label">Invoice ID</label>
            <%= text_field(:order, :Invoice, placeholder: "Invoice ID", class: "form-control", id: "inputInvoiceID", required: true) %>
        </div>
    
        <div class="col-12">
            <button type="submit" class="btn btn-dark">SUBMIT</button>
            <%= link_to 'BACK', order_index_path, class: "btn btn-outline-dark" %>
        </div>
    <% end %>
</div>