<%= @dsfdg %>

<!--
<div id="fliter-wrapper" class"d-flex flex-row-reverse">
    <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" class="dropdown-toggle nav-link">Filter</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">KANYE WEST</a>
    </div>
</div> 

<div id="fliter-wrapper" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div> -->

<!-- 
<div>
    <label for="">Supplier Identity</label>
    <input type="text" placeholder="Supplier Identity">
</div>

<div>                
    <label for="">Order ID</label>
    <input type="number" placeholder="OrderID">
</div>

<div>
    <label for="">Buyer Identity</label>
    <input type="text" placeholder="Buyer Identity">
</div>
-->

<!--
    <div id="fliter-wrapper" class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <div class="filter-container">
        <div class="filter-content">
            <div class="col-md-8">
                <label for="inputSupplierIdentity" class="form-label">Supplier Identity</label>
                <%= text_field(:identity, :SupplierIdentity, placeholder: "SupplierIdentity", class: "form-control", id: "inputSupplierIdentity", required: true) %>
            </div>

            <div class="col-md-8">
                <label for="inputBuyerIdentity" class="form-label">Buyer Identity</label>
                <%= text_field(:identity, :BuyerIdentity, placeholder: "BuyerIdentity", class: "form-control", id: "inputBuyerIdentity", required: true) %>
            </div>
            
            <div class="col-md-8">
                <label for="inputOrderID" class="form-label">Order ID</label>
                <%= number_field(:identity, :inputOrderID, placeholder: "Order ID", class: "form-control", id: "inputOrderID", required: true) %>
            </div>
        </div>

        <div class="filter-buttons d-flex align-items-center justify-content-center">
            <div class="filtering-cancel-btn">
                <button class="btn btn-outline-danger">Clear all filtering</button>
            </div>

            <div class="filtering-accept-btn">
                <button class="btn btn-outline-dark">CANCEL</button>
                <button class="btn btn-dark">Apply</button>
            </div>
        </div>
    </div>
-->

<!--
    <div id="order-table" class="table-responsive-md">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <th>ID</th>
                <th>FromIdentity</th>
                <th>ToIdentity</th>
                <th>SharedSecret</th>
                <th>Order ID</th>
                <th>OrderDate</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                    <tr>
                        <td><%= order["ID"] %></td>
                        <td><%= order["FromIdentity"] %></td>
                        <td><%= order["ToIdentity"] %></td>
                        <td><%= order["SharedSecret"] %></td>
                        <td><%= order["OrderID"] %></td>
                        <td><%= order["OrderDate"] %></td>
                        <td>
                            <%= link_to download_po_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Purchase Order', target: '_blank' do %>
                                <i class="bi bi-file-earmark-arrow-down"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to order_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Create Invoice' do %>
                                <i class="bi bi-cloud-plus"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to download_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Invoice', target: '_blank' do %>
                                <i class="bi bi-cloud-arrow-down"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to send_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Send Invoice to Coupa' do %>
                                <i class="bi bi-cloud-arrow-up"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>        
    </div>
</div>
-->