$("#modal-window").find(".modal-content").html("<%= j (render 'sendInvoice') %>");
$("#modal-window").modal();

<!--
<%# @orders ? 
    <tbody id="table-body">
        <% @orders.each do |order| %>
            <tr>
                <td><%= order["ID"] %></td>
                <td><%= order["FromIdentity"] %></td>
                <td><%= order["ToIdentity"] %></td>
                <td><%= order["SharedSecret"] %></td>
                <td><%= order["OrderID"] %></td>
                <td><%= order["OrderDate"] %></td>
                <td>
                    <%= link_to download_po_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Purchase Order', target: '_blank' do %>
                        <!-- <i class="bi bi-file-earmark-arrow-down"></i> -->
                        <i class="bi bi-download"></i>
                    <% end %>
                </td>
                <td>
                    <%= link_to order_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Create Invoice' do %>
                        <i class="bi bi-cloud-plus"></i>
                    <% end %>
                </td>
                <td>
                    <%= link_to download_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Invoice', target: '_blank' do %>
                        <i class="bi bi-cloud-arrow-down"></i>
                    <% end %>
                </td>
                <td>
                    <%= link_to send_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Send Invoice to Coupa' do %>
                        <i class="bi bi-cloud-arrow-up"></i>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody> : <tbody id="table-body"><div class="bg-light navbar-light row">No Identities</div></tbody> %>

<tbody>
    <% @orders.each do |order| %>
        <tr>
            <td><%= order["ID"] %></td>
            <td><%= order["FromIdentity"] %></td>
            <td><%= order["ToIdentity"] %></td>
            <td><%= order["SharedSecret"] %></td>
            <td><%= order["OrderID"] %></td>
            <td><%= order["OrderDate"] %></td>
            <td>
                <%= link_to download_po_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Purchase Order', target: '_blank' do %>
                    <!-- <i class="bi bi-file-earmark-arrow-down"></i> -->
                    <i class="bi bi-download"></i>
                <% end %>
            </td>
            <td>
                <%= link_to order_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Create Invoice' do %>
                    <i class="bi bi-cloud-plus"></i>
                <% end %>
            </td>
            <td>
                <%= link_to download_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Download Invoice', target: '_blank' do %>
                    <i class="bi bi-cloud-arrow-down"></i>
                <% end %>
            </td>
            <td>
                <%= link_to send_invoice_path(order["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Send Invoice to Coupa' do %>
                    <i class="bi bi-cloud-arrow-up"></i>
                <% end %>
            </td>
        </tr>
    <%# end %>
</tbody>
-->

<!--
            <tbody id="table-body">
                <% @identities.each do |identity| %>
                    <tr>
                        <td><%= identity["ID"] %></th>
                        <td><%= identity["SupplierIdentity"] %></td>
                        <td><%= identity["SharedSecret"] %></td>
                        <td><%= identity["BuyerIdentity"] %></td>
                        <td><%= identity["CreateDate"] %></td>
                        <td>
                            <%= link_to identity_path(identity["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Show' do %>
                                <i class="bi bi-arrows-fullscreen"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to edit_identity_path(identity["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Edit' do %>
                                <i class="bi bi-pencil"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= link_to identity_path(identity["ID"]), method: :delete, data: { toggle: 'tooltip', placement: "top", confirm: "Are you sure?" }, title: 'Delete' do %>
                                <i class="bi bi-trash"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
            -->