<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid">
    <% content_for :title, "Coupa Integration - Orders" %>

    <nav class="py-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><%= link_to 'Orders', order_index_path %></a></li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </ol>
    </nav>


    <div class="show-summary100">
        <div class="show-summary100-subtitle mb-4">
            <h1 style="border-bottom: 2px solid #000">PURCHASE ORDER</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>ID</h5>
                <p><%= params[:id] %></p>
            </div>
            <div class="content col-md-3">
                <h5>From Identity</h5>
                <p><%= @order["FromIdentity"] %></p>

                <% if @order["FromIdentity"].present? %>
                    <p><%= @order["FromIdentity"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>To Identity</h5>
                <p><%= @order["ToIdentity"] %></p>

                <% if @identity["CreateDate"].present? %>
                        <p><%= @identity["CreateDate"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>

            <div class="content col-md-3">
                <h5>Shared Secret</h5>
                <p><%= @order["ToIdentity"] %></p>

                <% if @identity["CreateDate"].present? %>
                        <p><%= @identity["CreateDate"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>

            <div class="content col-md-3">
                <h5>From Domain</h5>
                <p><%= @order["FromDomain"] %></p>

                <% if @identity["CreateDate"].present? %>
                        <p><%= @identity["CreateDate"] %></p>
                    <% else %>
                    <p class="null-value">NULL</p>
                    <% end %>
            </div>
            
            <div class="content col-md-3">
                <h5>To Domain</h5>
                <% if @order["ToDomain"].present? %>
                    <p><%= @order["ToDomain"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Order ID</h5>
                <% if @order["orderID"].present? %>
                    <p><%= @order["orderID"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Order Date</h5>
                <% if @order["orderDate"].present? %>
                    <p><%= @order["orderDate"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div>
    

    <div class="show-summary100">
        <div class="show-summary100-subtitle mb-4">
            <h1 style="border-bottom: 2px solid #000">SHIPPING DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>Ship To Name</h5>
                <p><%= @order["ShipToName"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Ship To Street 1</h5>
                <p><%= @order["ShipToStreet1"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Ship To Street 2</h5>
                <p><%= @order["ShipToStreet2"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Ship To City</h5>
                <p><%= @order["ShipToCity"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Ship To State</h5>
                <% if @order["ShipToState"].present? %>
                    <p><%= @order["ShipToState"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Ship To Postal Code</h5>
                <% if @order["ShipToPostalCode"].present? %>
                    <p><%= @order["ShipToPostalCode"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div>


    <div class="show-summary100">
        <div class="show-summary100-subtitle mb-4">
            <h1 style="border-bottom: 2px solid #000">BILLING DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>Bill To Name</h5>
                <p><%= @order["BillToName"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Bill To Deliver To</h5>
                <p><%= @order["BillToDeliverTo"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Bill To Street 1</h5>
                <p><%= @order["BillToStreet1"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Bill To Street 2</h5>
                <p><%= @order["BillToStreet2"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Bill To City</h5>
                <% if @order["BillToCity"].present? %>
                    <p><%= @order["BillToCity"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Bill To State</h5>
                <% if @order["BillToState"].present? %>
                    <p><%= @order["BillToState"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Bill To Postal Code</h5>
                <% if @order["BillToPostalCode"].present? %>
                    <p><%= @order["BillToPostalCode"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Bill To ISOCountryCode</h5>
                <% if @order["BillToIsoCountryCode"].present? %>
                    <p><%= @order["BillToIsoCountryCode"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Bill To Country</h5>
                <% if @order["BillToCountry"].present? %>
                    <p><%= @order["BillToCountry"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div>


    <div class="show-summary100">
        <div class="show-summary100-subtitle mb-4">
            <h1 style="border-bottom: 2px solid #000">PAYMENT DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>Total Money</h5>
                <p><%= @order["TotalMoney"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Total Money Currency</h5>
                <p><%= @order["TotalMoneyCurrency"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Contact Role</h5>
                <p><%= @order["ContactRole"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Contact Name</h5>
                <p><%= @order["ContactName"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Contact Email</h5>
                <% if @order["ContactEmail"].present? %>
                    <p><%= @order["ContactEmail"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Ship To Deliver To</h5>
                <% if @order["ShipToDeliverTo"].present? %>
                    <p><%= @order["ShipToDeliverTo"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Create Date</h5>
                <% if @order["CreateDate"].present? %>
                    <p><%= @order["CreateDate"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Sender Identity</h5>
                <% if @order["SenderIdentity"].present? %>
                    <p><%= @order["SenderIdentity"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Sender Domain</h5>
                <% if @order["SenderDomain"].present? %>
                    <p><%= @order["SenderDomain"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Ship To Email</h5>
                <% if @order["ShipToEmail"].present? %>
                    <p><%= @order["ShipToEmail"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Bill To Email</h5>
                <% if @order["BillToEmail"].present? %>
                    <p><%= @order["BillToEmail"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div>

    <%= link_to 'BACK', order_index_path, class: "btn btn-outline-dark mb-4" %>
</div>