<%= @params %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
</div>
<div class="modal-body">
  ***** Not Wokring *****
</div>
<div class="modal-footer">
  <button class="btn btn-primary">Save</button>
</div>

<%= javascript_pack_tag 'tooltip' %>
<!--
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<td><%# link_to 'Download PO', download_po_path(order["ID"]), class: "btn btn-success", style: "color: white !important", target: '_blank' %></td>
<td><%= link_to 'Create Invoice', order_invoice_path(order["ID"]), class: "btn btn-outline-success" %></td>
<td><%= link_to 'Download Invoice', download_invoice_path(order["ID"]), class: "btn btn-outline-success", target: '_blank' %></td>
<td><%= link_to 'Send Invoice', order_index_path, class: "btn btn-outline-success bi bi-cloud-arrow-up-fill", remote: true %></td>
 <td><%# link_to 'Send Invoice', send_invoice_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}  %></td> -->