<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid">

  <% content_for :title, "Coupa Integration - Invoice Item" %>

  <nav class="py-4" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><%= link_to 'Invoice Items', invoice_invoice_items_path(@invoice_item["invoiceID"]) %></a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <%= form_tag(invoice_invoice_item_path, method: :put, class: "row g-3 mb-3") do %>
    <div class="col-md-4">
      <label for="inputUnitPrice" class="form-label">Unit Price</label>
      <%= text_field(:invoice_item, :UnitPrice, value: @invoice_item["unitPrice"], placeholder: "Unit Price", class: "form-control", id: "inputUnitPrice") %>
    </div>
    <div class="col-md-4">
      <label for="inputQuantity" class="form-label">Quantity</label>
      <%= text_field(:invoice_item, :Quantity, value: @invoice_item["quantity"], placeholder: "Quantity", class: "form-control", id: "inputQuantity") %>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-dark">SUBMIT</button>
      <%= link_to 'BACK', invoice_invoice_items_path(@invoice_item["invoiceID"]), class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>