<%= render 'header' %>
<%= render 'navbar' %>

<div id="identity-page" class="container-fluid mt-3">
    <% content_for :title, "Coupa Integration - Invoice Items" %>

    <h1>TABLE OF INVOICES ITEMS</h1>

    <div id="invoice-items-table" class="table-responsive-md table-responsive">    
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <th>ID</th>
                <th>Invoice ID</th>
                <th>Invoice Item Description</th>
                <th>Item Unit Of Measure</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th colspan="2"></th>
            </thead>

            <% if @invoice_items.present? %>
                <tbody id="table-body">
                    <% @invoice_items.each do |invoice_item| %>
                        <tr>
                            <td><%= invoice_item["id"] %></th>
                            <td><%= invoice_item["invoiceID"] %></td>
                            <td><%= invoice_item["invoiceItemDescription"] %></td>
                            <td><%= invoice_item["itemUnitOfMeasure"] %></td>
                            <td><%= invoice_item["quantity"] %></td>
                            <td><%= invoice_item["unitPrice"] %></td>
                            <td>
                                <%= link_to invoice_invoice_item_path(id: invoice_item["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Show' do %>
                                    <i class="bi bi-arrows-fullscreen" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to edit_invoice_invoice_item_path(id: invoice_item["id"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Edit' do %>
                                    <i class="bi bi-pencil" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>                
            <% else %>
                <tbody>
                    <div style="position: absolute; margin-top: 7rem; width: 88%; display: flex; justify-content: center; align-items: center; height: 5rem; color: #ccc; background-color: white;">
                    No Invoice Items
                    </div>
                </tbody>           
            <% end %>
        </table>

        <%= link_to 'BACK', invoices_path, class: "btn btn-outline-dark" %>
    </div>
</div>