<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid" >

    <% content_for :title, "Coupa Integration - Invoice Items" %>

    <nav class="py-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><%= link_to 'Invoice Items', invoice_invoice_items_path(@invoice_item["invoiceID"]) %></a></li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </ol>
    </nav>

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>ID</h5>

                <% if @invoice_item["id"].present? %>
                    <p><%= @invoice_item["id"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice ID</h5>

                <% if @invoice_item["invoiceID"].present? %>
                    <p><%= @invoice_item["invoiceID"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Line Number</h5>

                <% if @invoice_item["invoiceLineNumber"].present? %>
                    <p><%= @invoice_item["invoiceLineNumber"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Quantity</h5>
                <p><%= @invoice_item["quantity"] %></p>

                <% if @invoice_item["quantity"].present? %>
                    <p><%= @invoice_item["quantity"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Item Currency</h5>

                <% if @invoice_item["invoiceItemCurrency"].present? %>
                    <p><%= @invoice_item["invoiceItemCurrency"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Unit Price</h5>

                <% if @invoice_item["unitPrice"].present? %>
                    <p><%= @invoice_item["unitPrice"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice Item Description</h5>

                <% if @invoice_item["invoiceItemDescription"].present? %>
                    <p><%= @invoice_item["invoiceItemDescription"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Item Tax Percentage</h5>

                <% if @invoice_item["itemTaxPercentage"].present? %>
                    <p><%= @invoice_item["itemTaxPercentage"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>

            <div class="content col-md-3">
                <h5>Item Tax Amount</h5>

                <% if @invoice_item["itemTaxAmount"].present? %>
                    <p><%= @invoice_item["itemTaxAmount"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Item Unit Of Measure</h5>

                <% if @invoice_item["itemUnitOfMeasure"].present? %>
                    <p><%= @invoice_item["itemUnitOfMeasure"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Item Tax Category</h5>

                <% if @invoice_item["itemTaxCategory"].present? %>
                    <p><%= @invoice_item["itemTaxCategory"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Item Tax Description</h5>

                <% if @invoice_item["itemTaxDescription"].present? %>
                    <p><%= @invoice_item["itemTaxDescription"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Create Date</h5>


                <% if @invoice_item["createDate"].present? %>
                    <p><%= @invoice_item["createDate"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Update Date</h5>

                <% if @invoice_item["updateDate"].present? %>
                    <p><%= @invoice_item["updateDate"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div>

    <%= link_to 'BACK', invoice_invoice_items_path(@invoice_item["invoiceID"]), class: "btn btn-outline-dark mb-4" %>
</div>