<%= form_tag(identity_index_path, method: :post, class: "row g-3 mb-3") do %>
    <div class="col-md-4">
      <label for="inputSupplierIdentity" class="form-label">Supplier Identity</label>
      <%= text_field(:identity, :SupplierIdentity, placeholder: "Supplier Identity", class: "form-control", id: "inputSupplierIdentity", required: true) %>
    </div>
    <div class="col-md-4">
      <label for="inputSharedSecret" class="form-label">Shared Secret</label>
      <%= text_field(:identity, :SharedSecret, placeholder: "Shared Secret", class: "form-control", id: "inputSharedSecret", required: true) %>
    </div>
    <div class="col-md-4">
      <label for="inputBuyerIdentity" class="form-label">Buyer Identity</label>
      <%= text_field(:identity, :BuyerIdentity, placeholder: "Buyer Identity", class: "form-control", id: "inputBuyerIdentity", required: true) %>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-dark">SUBMIT</button>
      <%= link_to 'BACK', identity_index_path, class: "btn btn-outline-dark" %>
    </div>
  <% end %>