<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid">

  <% content_for :title, "Coupa Integration - Identity" %>

  <nav class="py-4" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"><%= link_to 'Identity', identity_index_path %></a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <%= form_tag(identity_path, method: :put, class: "row g-3 mb-3") do %>

    <div class="show-summary100">
      <div class="show-summary100-subtitle">
          <h1 style="border-bottom: 2px solid #000">DETAILS</h1>
      </div>

      <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col-md-4 content">
          <label for="inputSupplierIdentity" class="form-label">Supplier Identity</label>
          <%= text_field(:identity, :SupplierIdentity, value: @identity["SupplierIdentity"], placeholder: "Supplier Identity", class: "form-control", id: "inputSupplierIdentity", readonly: true) %>
        </div>
        <div class="col-md-4 content">
          <label for="inputSharedSecret" class="form-label">Shared Secret</label>
          <%= text_field(:identity, :SharedSecret, value: @identity["SharedSecret"], placeholder: "Shared Secret", class: "form-control", id: "inputSharedSecret", readonly: true) %>
        </div>
        <div class="col-md-4 content">
          <label for="inputSupplierIdentity" class="form-label">Buyer Identity</label>
          <%= text_field(:identity, :BuyerIdentity, value: @identity["BuyerIdentity"], placeholder: "Buyer Identity", class: "form-control", id: "inputBuyerIdentity", readonly: true) %>
        </div>
        <div class="col-md-2 content">
          <label for="inputTaxNumber" class="form-label">Tax Number</label>
          <%= text_field(:identity, :TaxNumber, value: @identity["TaxNumber"], placeholder: "Tax Number", class: "form-control", id: "inputTaxNumber") %>
        </div>
        <div class="col-md-5 content">
          <label for="inputRegisteredName" class="form-label">Registered Name</label>
          <%= text_field(:identity, :RegisteredName, value: @identity["RegisteredName"], placeholder: "Registered Name", class: "form-control", id: "inputRegisteredName") %>
        </div>
        <div class="col-md-5 content">
          <label for="inputTradingAs" class="form-label">Trading As</label>
          <%= text_field(:identity, :TradingAs, value: @identity["TradingAs"], placeholder: "Trading As", class: "form-control", id: "inputTradingAs") %>
        </div>
        <div class="col-md-3 content">
          <label for="inputTelephoneNumber" class="form-label">Telephone Number</label>
          <%= text_field(:identity, :TelephoneNumber, value: @identity["TelephoneNumber"], placeholder: "Telephone Number", class: "form-control", id: "inputTelephoneNumber") %>
        </div>
        <div class="col-md-2 content">
          <label for="inputPhysicalID" class="form-label">Physical ID</label>
          <%= number_field(:identity, :PhysicalID, value: @identity["PhysicalID"], placeholder: "Physical ID", class: "form-control", id: "inputPhysicalID") %>
        </div>
        <div class="col-md-2 content">
          <label for="inputPostalID" class="form-label">Postal ID</label>
          <%= text_field(:identity, :PostalID, value: @identity["PostalID"], placeholder: "Postal ID", class: "form-control", id: "inputPostalID") %>
        </div>
        <div class="col-md-4 content">
          <label for="inputTaxPrefix" class="form-label">Tax Prefix</label>
          <%= text_field(:identity, :TaxPrefix, value: @identity["TaxPrefix"], placeholder: "Tax Prefix", class: "form-control", id: "inputTaxPrefix") %>
        </div>
        <div class="col-md-4 content">
          <label for="inputTaxIndicator" class="form-label">Tax Indicator</label>
          <%= text_field(:identity, :TaxIndicator, value: @identity["TaxIndicator"], placeholder: "Tax Indicator", class: "form-control", id: "inputTaxIndicator") %>
        </div>
        <div class="col-md-4 content">
          <label for="inputTaxPercentage" class="form-label">Tax Percentage</label>
          <%= text_field(:identity, :TaxPercentage, value: @identity["TaxPercentage"], placeholder: "Tax Percentage", class: "form-control", id: "inputTaxPercentage") %>
        </div>
      </div>
    </div>

  <div class="show-summary100">
    <div class="show-summary100-subtitle">
      <h1 style="border-bottom: 2px solid #000">REMIT TO DETAILS</h1>
    </div>

    <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col-md-4 content">
        <label for="inputRemitToName" class="form-label">Remit To Name</label>
        <%= text_field(:identity, :RemitToName, value: @identity["RemitToName"], placeholder: "Remit To Name", class: "form-control", id: "inputRemitToName") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToStreet" class="form-label">Remit To Street</label>
        <%= text_field(:identity, :RemitToStreet, value: @identity["RemitToStreet"], placeholder: "Remit To Street", class: "form-control", id: "inputRemitToStreet") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToCity" class="form-label">Remit To City</label>
        <%= text_field(:identity, :RemitToCity, value: @identity["RemitToCity"], placeholder: "Remit To City", class: "form-control", id: "inputRemitToCity") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToPostalCode" class="form-label">Remit To Postal Code</label>
        <%= text_field(:identity, :RemitToPostalCode, value: @identity["RemitToPostalCode"], placeholder: "Remit To Postal Code", class: "form-control", id: "inputRemitToPostalCode") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToCountryISOCode" class="form-label">Remit To Country ISO Code</label>
        <%= text_field(:identity, :RemitToCountryISOCode, value: @identity["RemitToCountryISOCode"], placeholder: "Remit To Country ISO Code", class: "form-control", id: "inputRemitToCountryISOCode") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToCountry" class="form-label">Remit To Country</label>
        <%= text_field(:identity, :RemitToCountry, value: @identity["RemitToCountry"], placeholder: "Remit To Country", class: "form-control", id: "inputRemitToCountry") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToAreaOrCityCode" class="form-label">Remit To Area Or City Code</label>
        <%= text_field(:identity, :RemitToAreaOrCityCode, value: @identity["RemitToAreaOrCityCode"], placeholder: "Remit To Area Or City Code", class: "form-control", id: "inputRemitToAreaOrCityCode") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToPhoneNumber" class="form-label">Remit To Phone Number</label>
        <%= text_field(:identity, :RemitToPhoneNumber, value: @identity["RemitToPhoneNumber"], placeholder: "Remit To Phone Number", class: "form-control", id: "inputRemitToPhoneNumber") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToFaxNumber" class="form-label">Remit To Fax Number</label>
        <%= text_field(:identity, :RemitToFaxNumber, value: @identity["RemitToFaxNumber"], placeholder: "Remit To Fax Number", class: "form-control", id: "inputRemitToFaxNumber") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToTaxPrefix" class="form-label">Remit To Tax Prefix</label>
        <%= text_field(:identity, :RemitToTaxPrefix, value: @identity["RemitToTaxPrefix"], placeholder: "Remit To Tax Prefix", class: "form-control", id: "inputRemitToTaxPrefix") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputRemitToTaxNumber" class="form-label">Remit To Tax Number</label>
        <%= text_field(:identity, :RemitToTaxNumber, value: @identity["RemitToTaxNumber"], placeholder: "Remit To Tax Number", class: "form-control", id: "inputRemitToTaxNumber") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputURL" class="form-label">URL</label>
        <%= text_field(:identity, :URL, value: @identity["URL"], placeholder: "URL", class: "form-control", id: "inputURL") %>
      </div>
    </div>
  </div>


  <div class="show-summary100">
    <div class="show-summary100-subtitle">
      <h1 style="border-bottom: 2px solid #000">FROM DETAILS</h1>
    </div>

    <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col-md-4 content">
        <label for="inputFromName" class="form-label">From Name</label>
        <%= text_field(:identity, :FromName, value: @identity["FromName"], placeholder: "From Name", class: "form-control", id: "inputFromName") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputFromStreet" class="form-label">From Street</label>
        <%= text_field(:identity, :FromStreet, value: @identity["FromStreet"], placeholder: "From Street", class: "form-control", id: "inputFromStreet") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputFromCity" class="form-label">From City</label>
        <%= text_field(:identity, :FromCity, value: @identity["FromCity"], placeholder: "From City", class: "form-control", id: "inputFromCity") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputFromPostalCode" class="form-label">From Postal Code</label>
        <%= text_field(:identity, :FromPostalCode, value: @identity["FromPostalCode"], placeholder: "From Postal Code", class: "form-control", id: "inputFromPostalCode") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputFromCountryISOCode" class="form-label">From Country ISO Code</label>
        <%= text_field(:identity, :FromCountryISOCode, value: @identity["FromCountryISOCode"], placeholder: "From Country ISO Code", class: "form-control", id: "inputFromCountryISOCode") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputFromCountry" class="form-label">From Country</label>
        <%= text_field(:identity, :FromCountry, value: @identity["FromCountry"], placeholder: "From Country", class: "form-control", id: "inputFromCountry") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputFromTaxPrefix" class="form-label">From Tax Prefix</label>
        <%= text_field(:identity, :FromTaxPrefix, value: @identity["FromTaxPrefix"], placeholder: "From Tax Prefix", class: "form-control", id: "inputFromTaxPrefix") %>
      </div>
      <div class="col-md-4 content">
        <label for="inputFromTaxNumber" class="form-label">From Tax Number</label>
        <%= text_field(:identity, :FromTaxNumber, value: @identity["FromTaxNumber"], placeholder: "From Tax Number", class: "form-control", id: "inputFromTaxNumber") %>
      </div>
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-dark">SUBMIT</button>
    <%= link_to 'BACK', identity_index_path, class: "btn btn-outline-dark" %>
  </div>
  <% end %>
</div>