<%= render 'header' %>
<%= render 'navbar' %>

<div id="identity-page" class="container-fluid mt-3">
    <% content_for :title, "Coupa Integration - Identities" %>

    <h1>TABLE OF IDENTITIES</h1>

    <div id="new-btn-section" class="mb-3 d-flex flex-row-reverse bd-highlight">
        <%= link_to new_identity_path, class: "btn btn-dark", style: "color: white !important" do %>
            <i class="bi bi-plus"></i> New
        <% end %>
    </div>

    <div id="identity-table" class="table-responsive-md table-responsive">    
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <th>ID</th>
                <th>Supplier Identity</th>
                <th>Buyer Identity</th>
                <th>Create Date</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>

            <% if @identities.present? %>
                <tbody id="table-body">
                    <% @identities.each do |identity| %>
                        <tr>
                            <td><%= identity["ID"] %></th>
                            <td><%= identity["SupplierIdentity"] %></td>
                            <td><%= identity["BuyerIdentity"] %></td>
                            <td><%= identity["CreateDate"] %></td>
                            <td>
                                <%= link_to identity_path(identity["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Show Identity Details' do %>
                                    <i class="bi bi-arrows-fullscreen" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to edit_identity_path(identity["ID"]), data: { toggle: 'tooltip', placement: "top" }, title: 'Edit Identity' do %>
                                    <i class="bi bi-pencil" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to identity_path(identity["ID"]), method: :delete, data: { toggle: 'tooltip', placement: "top", confirm: "Are you sure?" }, title: 'Delete Identity' do %>
                                    <i class="bi bi-trash" style="padding: 0 10px !important;"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>                
            <% else %>
                <tbody>
                    <div style="position: absolute; margin-top: 7rem; width: 88%; display: flex; justify-content: center; align-items: center; height: 5rem; color: #ccc; background-color: white;">
                    No Identies
                    </div>
                </tbody>           
            <% end %>
        </table>
    </div>
</div>
<!-- class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" -->
