<%= render 'header' %>
<%= render 'navbar' %>

<div id="container" class="container-fluid" >

    <% content_for :title, "Coupa Integration - Identity" %>

    <nav class="py-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Identity', identity_index_path %></li>
            <li class="breadcrumb-item active" aria-current="page">Show</li>
        </ol>
    </nav>
    
    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">IDENTITY</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
                
            <div class="content col-md-3">
                <h5>ID</h5>
                <p><%= params[:id] %></p>
            </div>

            <div class="content col-md-3">
                <h5>Supplier Identity</h5>

                <% if @identity["SupplierIdentity"].present? %>
                    <p><%= @identity["SupplierIdentity"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Shared Secret</h5>

                <p><%= @identity["SharedSecret"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Buyer Identity</h5>

                <p><%= @identity["BuyerIdentity"] %></p>
            </div>
            <div class="content col-md-3">
                <h5>Create Date</h5>

                <% if @identity["CreateDate"].present? %>
                    <p><%= @identity["CreateDate"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
                <div class="content col-md-3">
                <h5>Tax Number</h5>

                <% if @identity["TaxNumber"].present? %>
                    <p><%= @identity["TaxNumber"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Registered Name</h5>

                <% if @identity["RegisteredName"].present? %>
                    <p><%= @identity["RegisteredName"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Trading As</h5>

                <% if @identity["TradingAs"].present? %>
                    <p><%= @identity["TradingAs"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Telephone Number</h5>

                <% if @identity["TelephoneNumber"].present? %>
                    <p><%= @identity["TelephoneNumber"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Physical ID</h5>

                <% if @identity["PhysicalID"].present? %>
                    <p><%= @identity["PhysicalID"] %></p>
                <% else %>
                <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Postal ID</h5>

                <% if @identity["PostalID"].present? %>
                    <p><%= @identity["PostalID"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Tax Prefix</h5>

                <% if @identity["TaxPrefix"].present? %>
                    <p><%= @identity["TaxPrefix"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Tax Indicator</h5>

                <% if @identity["TaxIndicator"].present? %>
                    <p><%= @identity["TaxIndicator"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Tax Percentage</h5>

                <% if @identity["TaxPercentage"].present? %>
                    <p><%= @identity["TaxPercentage"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div> 

    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">REMIT TO DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>Remit To Name</h5>

                <% if @identity["RemitToName"].present? %>
                    <p><%= @identity["RemitToName"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Street</h5>
                
                <% if @identity["RemitToStreet"].present? %>
                    <p><%= @identity["RemitToStreet"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To City</h5>

                <% if @identity["RemitToCity"].present? %>
                    <p><%= @identity["RemitToCity"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Postal Code</h5>

                <% if @identity["RemitToPostalCode"].present? %>
                    <p><%= @identity["RemitToPostalCode"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Country ISO Code</h5>

                <% if @identity["RemitToCountryISOCode"].present? %>
                    <p><%= @identity["RemitToCountryISOCode"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Country</h5>

                <% if @identity["RemitToCountry"].present? %>
                    <p><%= @identity["RemitToCountry"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Area Or City Code</h5>

                <% if @identity["RemitToAreaOrCityCode"].present? %>
                    <p><%= @identity["RemitToAreaOrCityCode"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Phone Number</h5>

                <% if @identity["RemitToPhoneNumber"].present? %>
                    <p><%= @identity["RemitToPhoneNumber"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Remit To Fax Number</h5>

                <% if @identity["RemitToFaxNumber"].present? %>
                    <p><%= @identity["RemitToFaxNumber"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Invoice ID</h5>

                <% if @identity["InvoiceID"].present? %>
                    <p><%= @identity["InvoiceID"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>Blob ID</h5>

                <% if @identity["BlobID"].present? %>
                    <p><%= @identity["BlobID"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>URL</h5>

                <% if @identity["URL"].present? %>
                    <p><%= @identity["URL"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div>
    
    
    
    <div class="show-summary100">
        <div class="show-summary100-subtitle">
            <h1 style="border-bottom: 2px solid #000">FROM DETAILS</h1>
        </div>

        <div class="show-summary100-content row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="content col-md-3">
                <h5>From Name</h5>

                <% if @identity["FromName"].present? %>
                    <p><%= @identity["FromName"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Street</h5>
                
                <% if @identity["FromStreet"].present? %>
                    <p><%= @identity["FromStreet"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From City</h5>

                <% if @identity["FromCity"].present? %>
                    <p><%= @identity["FromCity"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Postal Code</h5>

                <% if @identity["FromPostalCode"].present? %>
                    <p><%= @identity["FromPostalCode"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Country ISO Code</h5>

                <% if @identity["FromCountryISOCode"].present? %>
                    <p><%= @identity["FromCountryISOCode"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Country</h5>

                <% if @identity["FromCountry"].present? %>
                    <p><%= @identity["FromCountry"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Tax Number</h5>

                <% if @identity["FromTaxNumber"].present? %>
                    <p><%= @identity["FromTaxNumber"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
            <div class="content col-md-3">
                <h5>From Tax Prefix</h5>

                <% if @identity["FromTaxPrefix"].present? %>
                    <p><%= @identity["FromTaxPrefix"] %></p>
                <% else %>
                    <p class="null-value">NULL</p>
                <% end %>
            </div>
        </div>
    </div>

    <%= link_to 'BACK', identity_index_path, class: "btn btn-outline-dark mb-4" %>
</div>