// Place all the styles related to the identity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#container {
  position: relative;
}

#identity-page {
font-size: 14px;
}

.show-summary100 {
  position: relative;
}

.show-summary100-subtitle h1 {
    font-weight: 600;
}
  
.show-summary100-content {
    margin-bottom: 1em;
}

.show-summary100-content .content {
  margin: 10px 0;
  padding: 0 0.5rem;
}
  
.show-summary100-content .content h5 {
    color: #585858;
    font-size: 18px;
    font-weight: 200;
}
  
.show-summary100-content .content p {
    font-size: 25px;
    font-weight: 600;
}

.show-summary100-content .content .null-value {
    color: #747474 ;
}

@media (min-width: 992px){
    #identity-page {
      width: 90%;
    }
  
    #identity-page table {
      width: 100%;
    }
  
    #identity-table {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }