// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#order-table {
    font-size: 14px;
}
  
#order-table i.bi {
    font-size: 20px;
    color: gray;
    padding: 10px;
}

#order-table i.bi:hover {
    color: black;
}

.action {
    display: flex;
    justify-content: end;
    align-items: center;
}

.action .profile {
    position: relative;
    border-radius: 2px solid black;
    overflow: hidden;
    cursor: pointer;
    padding: .5em 1em;
}

.action .menu {
    position: absolute;
    background-color: #f5f5f5;
    top: 330px;
    right: 6%;
    padding: 7px 15px;
    width: 330px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px ;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.action .menu.active {
    top: 250px;
    opacity: 1;
    visibility: visible;
}

.action .menu div {
    padding: 4px 0;
}

.action .menu div.input-field label {
    display: block;
    font-weight: 600;
}

.action .menu div.input-field input {
    width: 100%;
    height: 30px;
}

.action .menu div.input-field select {
    width: 100%;
    padding: 10px 5px;
    font-size: 15px;
}

.action .menu .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action .menu .btns a {
    text-decoration: none;
}

.action .menu .btns .accept-btn a {
    margin: 0 .2em;
    font-size: 15px;
    font-weight: 300;
    padding: 2px 5px;
}

// .action .menu .btns .accept-btn #accept-btn {
//     background: #1a1a1a;
//     color: white;
// }

// .action .menu .btns .accept-btn #accept-btn:hover {
//     background: #000000;
// }

// .action .menu .btns .accept-btn #cancel-btn {
//     background: transparent;
//     color: #1a1a1a;
//     border: 1px solid #1a1a1a;
// }

// .action .menu .btns .accept-btn #cancel-btn:hover {
//     color: white;
//     background: #1a1a1a;
// }

#order-table .btn-outline-success {
    color: green !important;
}

#order-table .btn-outline-success:hover {
    color: white !important;
}

  @media (min-width: 992px){
  
    #order-page {
      width: 90%;
    }
  
    #order-page table {
      width: 100%;
    }
  
    #order-table {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .filter-container {
      position: absolute;
      right: 6% ;
      width: 300px;
      height: 400px;
      background-color: green;
    }
  }