
<nav id="header" class="navbar navbar-expand-sm navbar-light bg-light border-bottom border-dark">
    <div class="container-fluid">
        <h1><a class="navbar-brand" href="<%= order_index_path %>" style="font-weight: 600">SCP</a></h1>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to 'Logout', logout_path, :method => :delete, :class => 'nav-link', :style => "color: red !important", :data => { :confirm => 'Are you sure?'} %>
                </li>
            </ul>
        </div>
    </div>
</nav>