<!-- Navbar -->
<div id="navbar" class="container-fluid">
    <ul id="navbar" class="nav">
        <li class="nav-item">
            <%= active_link_to 'Purchase Orders', order_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= active_link_to 'Identities', identity_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= active_link_to 'Invoices', invoices_path, class: "nav-link" %>
        </li>
    </ul>
    <br>
</div>